use flake

# See https://github.com/numtide/devshell/issues/149,
# https://github.com/nix-community/nix-direnv/issues/109,
# https://github.com/nix-community/nix-direnv/pull/125 why it's necessary to
# source this
eval "$shellHook"
